<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @Model Product
    <h1>
        @ViewBag.Title
    </h1>
    <p>@Model.Name</p>
    <p>@Model.Id</p>
    <p>@Model.Description</p>

</body>
</html>